@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "맑은 고딕", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.wrap::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-family: "Nanum Myeongjo", serif;
  margin: 75px 0 15px;
  font-size: 40px;
}

header {
  background-color: #ffffff;
  height: 100px;
  min-width: 1200px;
}
header .headerTop {
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #cccccc;
  font-size: 12px;
  box-sizing: border-box;
}
header .headerTop p {
  float: left;
  font-family: "Nanum Myeongjo", serif;
}
header .headerTop a {
  padding: 0 5px;
}
header .headerTop a:hover {
  color: #76323f;
}
header .headerTop .sns, header .headerTop .headerMember {
  float: right;
}
header .headerTop .sns li, header .headerTop .headerMember li {
  float: left;
}
header .headerTop .headerMember {
  float: right;
}
header .headerBottom {
  width: 100%;
  min-width: 1200px;
  height: 75px;
  line-height: 75px;
  background-color: inherit;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}
header .headerBottom .logo {
  display: block;
  width: 200px;
  height: 75px;
  position: absolute;
  left: 0;
}
header .headerBottom img {
  width: 200px;
  padding: 12.5px 0;
}
header .headerBottom nav {
  position: absolute;
  right: 0;
}
header .headerBottom nav .main li {
  float: left;
  padding: 0 15px;
  height: 75px;
}
header .headerBottom nav .main li a {
  color: #333333;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
}
header .headerBottom nav .main li:not(:nth-last-of-type(-n+2)) a:hover {
  color: #76323f;
}
header p {
  float: right;
  padding: 0 5px;
}

footer {
  background-color: #333333;
  color: #ffffff;
  height: 400px;
  min-width: 1200px;
  margin-top: 100px;
}
footer .adress {
  width: 30%;
  height: 300px;
  float: left;
  position: relative;
}
footer .adress ul {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 2%;
  font-size: 30px;
}
footer .adress ul li {
  font-family: "Nanum Myeongjo", serif;
  margin: 5px 0;
}
footer .adress ul li:first-child {
  font-weight: bold;
  font-size: 45px;
}
footer .footerMenu {
  width: 20%;
  height: 220px;
  padding: 40px 0;
  float: left;
}
footer .footerMenu li {
  height: 44px;
  line-height: 44px;
}
footer .footerMenu li a {
  color: #ffffff;
  font-family: "Nanum Myeongjo", serif;
  font-size: 20px;
}
footer .footerMenu li a:hover {
  font-weight: bold;
}
footer .contect {
  width: 30%;
  height: 200px;
  padding: 40px 0;
  float: right;
}
footer .contect p {
  padding: 2px 0;
  font-family: "Nanum Myeongjo", serif;
}
footer .contect p:nth-of-type(odd) {
  font-weight: bold;
  font-size: 25px;
}
footer .contect p:nth-of-type(even) {
  font-size: 20px;
}
footer .contect img {
  display: block;
  width: 250px;
  margin: 10px auto 0;
}
footer .footerBottom {
  height: 99px;
  clear: both;
  border-top: 1px solid #f3f0ef;
}
footer .footerBottom .sns {
  float: left;
  margin-left: 5px;
}
footer .footerBottom .sns li {
  float: left;
  margin: 24px 5px 25px;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  line-height: 50px;
  text-align: center;
}
footer .footerBottom .sns li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 25px;
}
footer .footerBottom .sns li:hover {
  opacity: 0.8;
}
footer .footerBottom .copyright {
  float: right;
  text-align: right;
  font-family: "Nanum Myeongjo", serif;
  padding-top: 24px;
}

#bookListLayer {
  display: none;
  position: fixed;
  width: 1200px;
  height: calc(100% - 75px);
  background-color: dodgerblue;
  z-index: 1;
  top: 75px;
  transform: translateX(-50%);
  left: 50%;
}

.swiper {
  min-width: 1200px;
  height: 650px;
  margin: 0 auto;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide:nth-of-type(1) {
  background: url("../images/globe.jpg");
  background-size: cover;
}
.swiper-slide:nth-of-type(1) h1 {
  color: #ffffff;
  position: relative;
  left: calc(50% - 590px);
}
.swiper-slide:nth-of-type(1) .slideImgWrap {
  position: absolute;
  width: 600px;
  height: 300px;
  left: 45%;
}
.swiper-slide:nth-of-type(1) .slideImgWrap img {
  width: 250px;
  height: 375px;
  display: block;
  position: absolute;
  left: 0%;
  top: 10%;
  box-shadow: 0 0 8px;
}
.swiper-slide:nth-of-type(1) .slideImgWrap img:nth-of-type(2) {
  left: 25%;
  top: 20%;
}
.swiper-slide:nth-of-type(1) .slideImgWrap img:nth-of-type(3) {
  left: 50%;
  top: 30%;
}
.swiper-slide:nth-of-type(1) a {
  display: block;
  position: absolute;
  left: calc(50% - 450px);
  bottom: 25%;
  float: right;
  transform: translateX(-50%);
  background-color: #76323f;
  color: #ffffff;
  font-family: "Nanum Myeongjo", serif;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  padding: 8px 23px;
  border: 2px solid #76323f;
  box-sizing: border-box;
  transition: 0.5s;
}
.swiper-slide:nth-of-type(1) a:hover {
  background-color: #ffffff;
  color: #76323f;
}
.swiper-slide:nth-of-type(2) {
  background-color: #FED800;
  text-align: center;
  overflow: hidden;
}
.swiper-slide:nth-of-type(2) h1 {
  font-family: "맑은 고딕", sans-serif;
  font-weight: bolder;
  font-size: 45px;
}
.swiper-slide:nth-of-type(2) div > img {
  display: block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
.swiper-slide:nth-of-type(2) div > img:first-of-type {
  left: calc(50% - 300px);
  bottom: 0;
  height: 80%;
}
.swiper-slide:nth-of-type(2) div > img:last-of-type {
  left: calc(50% + 200px);
  box-sizing: border-box;
  height: 50%;
  border: 20px ridge #76323f;
  top: 22%;
}
.swiper-slide:nth-of-type(2) p {
  position: absolute;
  left: 48%;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
  font-size: 30px;
  bottom: 18.5%;
  color: #76323f;
}
.swiper-slide:nth-of-type(2) a {
  display: block;
  position: absolute;
  left: 48%;
  bottom: 10%;
  float: right;
  background-color: #76323f;
  color: #ffffff;
  font-family: "Nanum Myeongjo", serif;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  padding: 8px 23px;
  border: 2px solid #76323f;
  box-sizing: border-box;
  transition: 0.5s;
}
.swiper-slide:nth-of-type(2) a:hover {
  background-color: #ffffff;
  color: #76323f;
}
.swiper-slide:nth-of-type(3) {
  background-color: lightblue;
}
.swiper-slide:nth-of-type(3) h1 {
  position: relative;
  left: calc(50% - 590px);
}
.swiper-slide:nth-of-type(3) div {
  width: 1200px;
  height: 300px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}
.swiper-slide:nth-of-type(3) div img {
  position: relative;
  width: 180px;
  height: 270px;
  margin: 10px;
  float: left;
  display: block;
  height: 100%;
}
.swiper-slide:nth-of-type(3) div::after {
  content: "";
  display: block;
  clear: both;
}
.swiper-slide:nth-of-type(3) a {
  position: absolute;
  bottom: 10%;
  background-color: #76323f;
  color: #ffffff;
  font-family: "Nanum Myeongjo", serif;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  padding: 8px 23px;
  border: 2px solid #76323f;
  box-sizing: border-box;
  transition: 0.5s;
  transform: translateX(-50%);
  left: 50%;
}
.swiper-slide:nth-of-type(3) a:hover {
  background-color: #ffffff;
  color: #76323f;
}

.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}
.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: red;
}

.mainBookList {
  position: relative;
  height: 450px;
}
.mainBookList .bookListWrap {
  width: 1100px;
  height: 100%;
  position: absolute;
  left: 50px;
  overflow: hidden;
}
.mainBookList .bookListWrap ul {
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.mainBookList .bookListWrap ul li {
  float: left;
  text-align: center;
  width: 210px;
  height: calc(100% - 20px);
  margin: 5px;
  padding: 5px 0;
  cursor: pointer;
}
.mainBookList .bookListWrap ul li div {
  width: 190px;
  height: 285px;
  color: #ffffff;
  background-color: #58252f;
  box-shadow: 0px 1px 2px #666666;
  margin-bottom: 20px;
}
.mainBookList .bookListWrap ul li div img {
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  margin: 25px 0;
}
.mainBookList .bookListWrap ul li img {
  width: 190px;
  height: 285px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 2px #666666;
  transition: 0.5s;
}
.mainBookList .bookListWrap ul li p {
  width: 90%;
  margin: 0 5% 2%;
}
.mainBookList .bookListWrap ul li p:nth-of-type(1) {
  font-size: 23px;
  font-weight: bold;
  font-family: "Nanum Myeongjo", serif;
  transition: 0.5s;
}
.mainBookList .bookListWrap ul li p:nth-of-type(2), .mainBookList .bookListWrap ul li p:nth-of-type(3) {
  font-size: 12px;
}
.mainBookList .bookListWrap ul li p:nth-of-type(4) {
  font-size: 20px;
  font-weight: bold;
  font-family: "Nanum Myeongjo", serif;
  color: #76323f;
}
.mainBookList .bookListWrap ul li:hover img, .mainBookList .bookListWrap ul li:hover div {
  box-shadow: 1px 5px 10px #666666;
}
.mainBookList .bookListWrap ul li:hover p:nth-of-type(1) {
  color: #76323f;
}
.mainBookList .bookListWrap ul li:hover img, .mainBookList .bookListWrap ul li:hover div {
  box-shadow: 1px 5px 10px #666666;
}
.mainBookList .bookListWrap ul li:hover p:nth-of-type(1) {
  color: #76323f;
}
.mainBookList .bookListWrap ul::after {
  content: "";
  display: block;
  clear: both;
}
.mainBookList .bookListButton {
  text-align: center;
  font-size: 30px;
  line-height: 31px;
  color: #76323f;
  box-sizing: border-box;
  border: 1px solid #76323f;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mainBookList .bookListButton:first-of-type {
  left: 5px;
}
.mainBookList .bookListButton:last-of-type {
  right: 5px;
}

.categories {
  margin-top: 75px;
}
.categories li {
  float: left;
  text-align: center;
}
.categories li a {
  color: #333333;
  transition: 0.5s;
}
.categories li a div {
  background-color: #76323f;
  margin: 0 10px 10px;
  box-sizing: border-box;
  border: 5px solid #ffffff;
  transition: 0.5s;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.categories li a div img {
  width: 100%;
}
.categories li a:hover {
  color: #76323f;
}
.categories li a:hover div {
  box-shadow: 0 2px 10px #333333;
}
.categories::after {
  content: "";
  display: block;
  clear: both;
}

#wideBanner {
  height: 800px;
  min-width: 1200px;
  background-color: #f3f0ef;
  margin-top: 50px;
}
#wideBanner .wideBannerImg {
  float: left;
  width: 510px;
}
#wideBanner .wideBannerImg img {
  opacity: 0;
  height: 750px;
  padding-top: 50px;
  transition: 1s;
  display: block;
}
#wideBanner .wideBannerTexts {
  float: right;
  width: calc(100% - 510px);
}
#wideBanner .wideBannerTexts div {
  width: 630px;
  margin-left: 60px;
  float: right;
}
#wideBanner .wideBannerTexts div img {
  width: 135px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: blue;
  float: left;
  box-shadow: 0 0 8px;
  display: block;
}
#wideBanner .wideBannerTexts div img:nth-of-type(4n) {
  margin-right: 0;
}
#wideBanner .wideBannerTexts div::after {
  content: "";
  display: block;
  clear: both;
}
#wideBanner .wideBannerTexts a {
  float: right;
  background-color: #76323f;
  color: #ffffff;
  font-family: "Nanum Myeongjo", serif;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
  padding: 8px 23px;
  border: 2px solid #76323f;
  box-sizing: border-box;
  transition: 0.5s;
}
#wideBanner .wideBannerTexts a:hover {
  background-color: #ffffff;
  color: #76323f;
}

#event {
  margin: 100px 0;
  width: 100%;
  min-width: 1200px;
  background-color: #f3f0ef;
}
#event li {
  width: 24%;
  height: 400px;
  float: left;
  margin: 0 0.5% 25px;
}
#event li div {
  height: 50%;
}
#event li div:first-child {
  overflow: hidden;
}
#event li div:first-child img {
  width: 105%;
  display: block;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}
#event li div:last-child {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px;
}
#event li div:last-child p:first-child {
  font-family: "Nanum Myeongjo", serif;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
}
#event li:hover {
  box-shadow: 1px 5px 10px #666666;
}
#event li:hover p:first-child {
  color: #76323f;
}

#blog {
  width: 100%;
  min-width: 1200px;
}
#blog li {
  width: 49%;
  height: 120px;
  float: left;
  margin: 0 0.5% 25px;
}
#blog li div {
  width: 120px;
  height: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  transition: 0.5s;
}
#blog li div img {
  position: absolute;
  display: block;
  height: 100%;
  transform: translateX(-50%);
  left: 50%;
}
#blog li p {
  float: right;
  width: calc(100% - 135px);
  padding-left: 15px;
  color: #333333;
  transition: 1s;
}
#blog li p:first-of-type {
  height: 25px;
  line-height: 25px;
  font-size: 15px;
}
#blog li p:last-of-type {
  height: 70px;
  font-size: 20px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
}
#blog li:hover div {
  box-shadow: 1px 5px 10px #666666;
}
#blog li:hover p:last-of-type {
  color: #76323f;
}