@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "맑은 고딕", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.wrap::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  font-family: "Nanum Myeongjo", serif;
  margin: 75px 0 15px;
  font-size: 40px;
}

header {
  background-color: #ffffff;
  height: 100px;
  min-width: 1200px;
}
header .headerTop {
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #cccccc;
  font-size: 12px;
  box-sizing: border-box;
}
header .headerTop p {
  float: left;
  font-family: "Nanum Myeongjo", serif;
}
header .headerTop a {
  color: #333333;
  padding: 0 5px;
}
header .headerTop a:hover {
  color: #76323f;
}
header .headerTop .sns, header .headerTop .headerMember {
  float: right;
}
header .headerTop .sns li, header .headerTop .headerMember li {
  float: left;
}
header .headerTop .headerMember {
  float: right;
}
header .headerBottom {
  width: 100%;
  min-width: 1200px;
  height: 75px;
  line-height: 75px;
  background-color: inherit;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}
header .headerBottom .logo {
  display: block;
  width: 200px;
  height: 75px;
  position: absolute;
  left: 0;
}
header .headerBottom img {
  width: 200px;
  padding: 12.5px 0;
}
header .headerBottom nav {
  position: absolute;
  right: 0;
}
header .headerBottom nav .main li {
  float: left;
  padding: 0 15px;
  height: 75px;
}
header .headerBottom nav .main li a {
  color: #333333;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
}
header .headerBottom nav .main li:not(:nth-last-of-type(-n+2)) a:hover {
  color: #76323f;
}
header p {
  float: right;
  padding: 0 5px;
}

#imgSlide {
  background-color: lightgreen;
  min-width: 1200px;
  height: 650px;
  margin: 0 auto;
}

.bookList {
  position: relative;
  height: 450px;
}
.bookList .bookListWrap {
  width: 1100px;
  height: 100%;
  position: absolute;
  left: 50px;
  overflow: hidden;
}
.bookList .bookListWrap ul {
  margin: 0 auto;
  position: relative;
  height: 100%;
}
.bookList .bookListWrap ul li {
  float: left;
  text-align: center;
  height: calc(100% - 20px);
  margin: 5px;
  padding: 5px 0;
  cursor: pointer;
}
.bookList .bookListWrap ul li img {
  height: 285px;
  box-shadow: 0px 1px 2px #666666;
}
.bookList .bookListWrap ul li img, .bookList .bookListWrap ul li p {
  width: 90%;
  margin: 0 5% 2%;
}
.bookList .bookListWrap ul li p:nth-of-type(1) {
  font-size: 23px;
  font-weight: bold;
  font-family: "Nanum Myeongjo", serif;
}
.bookList .bookListWrap ul li p:nth-of-type(2), .bookList .bookListWrap ul li p:nth-of-type(3) {
  font-size: 12px;
}
.bookList .bookListWrap ul li p:nth-of-type(4) {
  font-size: 20px;
  font-weight: bold;
  font-family: "Nanum Myeongjo", serif;
  color: #76323f;
}
.bookList .bookListWrap ul li:hover img {
  box-shadow: 1px 5px 10px #666666;
}
.bookList .bookListWrap ul::after {
  content: "";
  display: block;
  clear: both;
}
.bookList .bookListButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  line-height: 31px;
  color: #76323f;
  box-sizing: border-box;
  border: 1px solid #76323f;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  cursor: pointer;
}
.bookList .bookListButton:first-of-type {
  left: 5px;
}
.bookList .bookListButton:last-of-type {
  right: 5px;
}

.categories {
  margin-top: 75px;
}
.categories li {
  float: left;
  text-align: center;
}
.categories li a {
  color: #333333;
  transition: 0.5s;
}
.categories li a div {
  background-color: #76323f;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 10px 10px;
  box-sizing: border-box;
  border: 5px solid #ffffff;
  transition: 0.5s;
}
.categories li a div img {
  width: 100%;
}
.categories li a:hover {
  color: #76323f;
}
.categories li a:hover div {
  box-shadow: 0 2px 10px #333333;
}
.categories::after {
  content: "";
  display: block;
  clear: both;
}

#wideBanner {
  height: 700px;
  min-width: 1200px;
  background-color: cyan;
  margin-top: 50px;
}

#event {
  margin: 100px 0;
  width: 100%;
  min-width: 1200px;
  background-color: burlywood;
}
#event li {
  background-color: beige;
  width: 24%;
  height: 400px;
  float: left;
  margin: 0 0.5% 25px;
}

#blog {
  width: 100%;
  min-width: 1200px;
}
#blog li {
  width: 49%;
  height: 120px;
  float: left;
  margin: 0 0.5% 25px;
}
#blog li div {
  width: 120px;
  height: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  transition: 0.5s;
}
#blog li div img {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: block;
  height: 100%;
}
#blog li p {
  float: right;
  width: calc(100% - 135px);
  padding-left: 15px;
  color: #333333;
  transition: 1s;
}
#blog li p:first-of-type {
  height: 25px;
  line-height: 25px;
  font-size: 15px;
}
#blog li p:last-of-type {
  height: 70px;
  font-size: 20px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
}
#blog li:hover div {
  box-shadow: 1px 5px 10px #666666;
}
#blog li:hover p:last-of-type {
  color: #76323f;
}

footer {
  background-color: #333333;
  color: #ffffff;
  height: 400px;
  min-width: 1200px;
  margin-top: 100px;
}
footer .adress {
  width: 30%;
  height: 300px;
  float: left;
  position: relative;
}
footer .adress ul {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 2%;
  font-size: 30px;
}
footer .adress ul li {
  font-family: "Nanum Myeongjo", serif;
  margin: 5px 0;
}
footer .adress ul li:first-child {
  font-weight: bold;
  font-size: 45px;
}
footer .footerMenu {
  width: 20%;
  height: 220px;
  padding: 40px 0;
  float: left;
}
footer .footerMenu li {
  height: 44px;
  line-height: 44px;
}
footer .footerMenu li a {
  color: #ffffff;
  font-family: "Nanum Myeongjo", serif;
  font-size: 20px;
}
footer .footerMenu li a:hover {
  font-weight: bold;
}
footer .contect {
  width: 30%;
  height: 200px;
  padding: 40px 0;
  float: right;
}
footer .contect p {
  padding: 2px 0;
  font-family: "Nanum Myeongjo", serif;
}
footer .contect p:nth-of-type(odd) {
  font-weight: bold;
  font-size: 25px;
}
footer .contect p:nth-of-type(even) {
  font-size: 20px;
}
footer .contect img {
  display: block;
  width: 250px;
  margin: 10px auto 0;
}
footer .footerBottom {
  height: 99px;
  clear: both;
  border-top: 1px solid #f3f0ef;
}
footer .footerBottom .sns {
  float: left;
  margin-left: 5px;
}
footer .footerBottom .sns li {
  float: left;
  margin: 24px 5px 25px;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 20%;
  line-height: 50px;
  text-align: center;
}
footer .footerBottom .sns li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333333;
  font-size: 25px;
}
footer .footerBottom .sns li:hover {
  opacity: 0.8;
}
footer .footerBottom .copyright {
  float: right;
  text-align: right;
  font-family: "Nanum Myeongjo", serif;
  padding-top: 24px;
}