@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "맑은 고딕", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: #ffffff;
  height: 100px;
  min-width: 1200px;
}
header .headerTop {
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid #cccccc;
  font-size: 10px;
  box-sizing: border-box;
}
header .headerTop p {
  float: left;
  font-family: "Nanum Myeongjo", serif;
}
header .headerTop a {
  color: #333333;
  padding: 0 5px;
}
header .headerTop a:hover {
  color: #76323f;
}
header .headerTop .sns, header .headerTop .headerMember {
  float: right;
}
header .headerTop .sns li, header .headerTop .headerMember li {
  float: left;
}
header .headerTop .headerMember {
  float: right;
}
header .headerBottom {
  width: 100%;
  min-width: 1200px;
  height: 75px;
  line-height: 75px;
  background-color: inherit;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  z-index: 1;
}
header .headerBottom .logo {
  display: block;
  width: 200px;
  height: 75px;
  position: absolute;
  left: 0;
}
header .headerBottom img {
  width: 200px;
  padding: 12.5px 0;
}
header .headerBottom nav {
  position: absolute;
  right: 0;
}
header .headerBottom nav .main li {
  float: left;
  padding: 0 15px;
  height: 75px;
}
header .headerBottom nav .main li a {
  color: #333333;
  font-family: "Nanum Myeongjo", serif;
  font-weight: bold;
}
header .headerBottom nav .main li:not(:nth-last-of-type(-n+2)) a:hover {
  color: #76323f;
}
header p {
  float: right;
  padding: 0 5px;
}

#imgSlide {
  background-color: lightgreen;
  min-width: 1200px;
  height: 650px;
  margin: 0 auto;
}

section h1 {
  font-family: "Nanum Myeongjo", serif;
  margin: 75px 0 15px;
  font-size: 40px;
}

.bookList {
  background-color: pink;
  width: 1100px;
  position: relative;
  left: 50px;
}
.bookList li {
  float: left;
  text-align: center;
  width: calc(20% - 10px);
  margin: 5px;
  height: 440px;
  padding: 5px 0;
  background-color: lightcoral;
}
.bookList li img {
  height: 300px;
  background-color: lightpink;
}
.bookList li img, .bookList li p {
  width: 90%;
  margin: 0 5%;
}
.bookList li p:nth-of-type(1) {
  font-size: 20px;
  font-weight: bold;
}

.bookList::after {
  content: "";
  clear: left;
  display: block;
}

.categories {
  margin-top: 75px;
}
.categories li {
  float: left;
  margin: 0 10px;
  text-align: center;
}
.categories li div {
  background-color: #76323f;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.categories li a {
  color: #333333;
}

.categories::after {
  content: "";
  clear: left;
  display: block;
}

#wideBanner {
  height: 700px;
  min-width: 1200px;
  background-color: cyan;
  margin-top: 50px;
}

#event {
  margin: 100px 0;
  width: 100%;
  min-width: 1200px;
  background-color: burlywood;
}
#event li {
  background-color: beige;
  width: 24%;
  height: 400px;
  float: left;
  margin: 0 0.5% 25px;
}

#blog {
  width: 100%;
  min-width: 1200px;
  background-color: darkgreen;
}
#blog li {
  background-color: lime;
  width: 49%;
  height: 120px;
  float: left;
  margin: 0 0.5% 25px;
}

footer {
  background-color: #333333;
  color: #ffffff;
  height: 400px;
  min-width: 1200px;
  margin-top: 100px;
}
footer .adress {
  width: 30%;
  height: 300px;
  float: left;
  position: relative;
}
footer .adress ul {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 2%;
  font-size: 30px;
}
footer .adress ul li {
  font-family: "Nanum Myeongjo", serif;
  margin: 5px 0;
}
footer .adress ul li:first-child {
  font-weight: bold;
  font-size: 45px;
}
footer .footerMenu {
  width: 20%;
  height: 200px;
  padding: 50px 0;
  float: left;
}
footer .footerMenu li {
  height: 40px;
  line-height: 40px;
}
footer .footerMenu li a {
  color: #ffffff;
  font-family: "Nanum Myeongjo", serif;
}
footer .footerMenu li a:hover {
  font-weight: bold;
}
footer .contect {
  width: 30%;
  height: 300px;
  float: right;
  font-family: "Nanum Myeongjo", serif;
}
footer .footerBottom {
  height: 99px;
  clear: both;
  border-top: 1px solid #f3f0ef;
}
footer .footerBottom .sns {
  float: left;
  margin-left: 5px;
}
footer .footerBottom .sns li {
  float: left;
  margin: 24px 5px 25px;
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 20%;
}
footer .footerBottom .sns li a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333333;
  font-size: 25px;
}
footer .footerBottom .sns li:hover {
  opacity: 0.8;
}
footer .footerBottom .copyright {
  float: right;
  text-align: right;
  font-family: "Nanum Myeongjo", serif;
  padding-top: 24px;
}

/*
@media all and (max-width: 1200px) {
    #imgSlide, header {
        width: 1200px;
    }
}

@media all and (max-width: 1200px) {

}
*/