@charset "utf-8";
//페이지 공통

// 컬러 설정
$violet1: #76323f;
$violet2: #361118;
$black1: #333333;
$gray1: #f3f0ef;
$gray2: #cccccc;
$gray3: #666666;
$whitePerfect: #ffffff;

// 폰트 설정
$fontSerif: 'Nanum Myeongjo', serif;
$fontSanSerif: '맑은 고딕', sans-serif;

// mixin 생성
@mixin setAfter {
    content: "";
    display: block;
    clear: both;
}

@mixin makeRoundedSquare($length, $radius: 0) {
    width: $length;
    height: $length;
    border-radius: $radius;
}

@mixin alignHorizonalCenter {
        transform: translateX(-50%);
        left: 50%;
}

@mixin buttonsForBanners {
    background-color: $violet1;
    color: $whitePerfect;
    font-family: $fontSerif;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
    padding: 8px 23px;
    border: 2px solid $violet1;
    box-sizing: border-box;
    transition: 0.5s;

    &:hover {
        background-color: $violet2;
        border-color: $violet2;
    }
}

@mixin noImgInList {
    width: 190px;
    height: calc(190px * 1.5); 
    color: $whitePerfect;
    background-color: $violet1;
    box-shadow: 0px 1px 2px $gray3;
    margin-bottom: 20px;

    img {
        width: 75px;
        height: 75px;
        background-color: $whitePerfect;
        margin: 25px auto;
    }

    p {
        font-size: 23px;
        font-weight: bold;
        font-family: "Nanum Myeongjo", serif;   
        text-align: center;
        
        &:hover {
            color: $whitePerfect;
        }   
    }
}

// 공통
* {
    margin: 0;
    padding: 0;
    font-family: $fontSanSerif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black1;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;

    &::after {
        @include setAfter;
    }
}

h1 {
    font-family: $fontSerif;
    margin:75px 0 15px;
    font-size: 40px;
}

// 헤더
header {
    background-color: $whitePerfect;
    height: 100px;
    min-width: 1200px;
    position: relative;
    z-index: 7;

    &>*>.wrap {
        width: 1150px;
        height: 100%;
        background-color: $whitePerfect;
        position: relative;
        z-index: 6;
    }

    .headerTop {
        height: 25px;
        line-height: 25px;
        border-bottom: 1px solid $gray2;
        font-size: 12px;
        // box-sizing: border-box;
        position: relative;
        background-color: $whitePerfect;
        z-index: 7;

        p{
            float: left;
            font-family: $fontSerif;
        }

        a {
            padding: 0 5px;
        }
        a:hover {
            color: $violet1;
        }

        .sns, .headerMember {
            float: right;
            li {
                float: left;
            }
        }

        .headerMember {
            float: right;
            
        }
    }
    
    .headerBottom{
        width: 100%;
        min-width: 1200px;
        height: 74px;
        line-height: 75px;
        border-bottom: 1px solid $gray2;
        position: relative;
        margin: 0 auto;
        background-color: $whitePerfect;
        z-index: 6;
        
        .logo {
            display: block;
            width: 200px;
            height: 74px;
            z-index: 4;
            background-color: $whitePerfect;
            float: left;

            img {
                width: 200px;
                padding: 12.5px 0;
            }
        }

        nav {
            height: 100%;
            z-index: 7;
            border-bottom: 1px solid $gray2;
            float: right;

            .main{
                
                li {
                    background-color: $whitePerfect;
                    float: left;
                    padding: 0 15px;
                    height: 74px;

                    a {
                        color:$black1;
                        font-family: $fontSerif;
                        font-weight: bold;
                    }
                }

                li:not(:nth-last-of-type(-n+2)) a:hover {
                    color: $violet1;     
                }
            }
        }
    }
}

// 헤더 팝업
// 검색 엔진
#searchPopup {
    position: absolute;
    top: 25px;
    right: calc(50% - 575px);
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid $gray2;
    background-color: $whitePerfect;
    z-index: 3;
    transition: 1s;

    input {
        float: left;
        display: block;
        height: 26px;
        margin: 10px;
        width: 180px;
        border: none;
        background-color: $gray2;
        border-radius: 15px;
        padding: 0 15px;
    }

    a {
        float: right;
        height: 30px;
        line-height: 30px;
        margin: 10px;
    }
}

// 푸터
footer {
    background-color: $black1;
    color: $whitePerfect;
    height: 400px;
    min-width: 1200px;
    margin-top: 100px;

    .adress {
        width: 30%;
        height: 300px;
        float: left;
        position: relative;

        ul {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 2%;
            font-size: 30px;

            li {
                font-family: $fontSerif;
                margin: 5px 0;
                &:first-child {
                    font-weight: bold;
                    font-size: 45px;
                }
            }
        }
    }

    .footerMenu {
        width: 20%;
        height: 220px;
        padding: 40px 0;
        float: left;
        
        li {
            height: 44px;
            line-height: 44px;
            a {
                color: $whitePerfect;
                font-family: $fontSerif;
                font-size: 20px;
                
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    .contect {
        width: 30%;
        height: 200px;
        padding: 40px 0;
        float: right;
        
        p {
            padding: 2px 0;
            font-family: $fontSerif;
            
            &:nth-of-type(odd) {
                font-weight: bold;
                font-size: 25px;
            }

            &:nth-of-type(even) {
                font-size: 20px;
            }
        }

        img {
            display: block;
            width: 250px;
            margin: 10px auto 0;
        }
    }

    .footerBottom {
        height: 99px;
        clear: both;
        border-top: 1px solid $gray1;

        .sns {
            float: left;
            margin-left: 5px;

            li {
                float: left;
                margin: 24px 5px 25px;
                background-color: $whitePerfect;
                @include makeRoundedSquare(50px, 20%);
                line-height: 50px;
                text-align: center;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 25px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .copyright {
            float: right;
            text-align: right;
            font-family: $fontSerif;
            padding-top: 24px
        }
    }
}

// 에러페이지
#warningError {
    text-align: center;
    margin-top: 100px;

    img {
        width: 50%;
    }

    h1 {
        font-size: 50px;
        margin: 100px 0;
    }

    a {
        @include buttonsForBanners();
        padding: 20px 40px;
    }
}

// 메인페이지 도서 목록
.mainBookList {
    position: relative;
    height: 450px;

    .bookListWrap {
        width: 1100px;
        height: 100%;
        position: absolute;
        left: 50px;
        overflow: hidden;

        ul {
            margin: 0 auto;
            position: relative;
            height: 100%;
            
            li {
                float: left;
                text-align: center;
                width: 210px;
                height: calc(100% - 20px);
                margin: 5px;
                padding: 5px 0;
                cursor: pointer;

                a {
                    display: block;
                    &:hover>p:nth-of-type(1) {
                    color: $violet1;
                    }
                }

                // 이미지가 없을 때 
                div {
                    @include noImgInList();
                }

                // 이미지가 있을때
                img {
                    width: 190px;
                    height: calc(190px * 1.5);
                    margin-bottom: 20px;
                    box-shadow: 0px 1px 2px $gray3;
                    transition: 0.5s;
                }

                p {
                    width: 90%;
                    margin: 0 5% 2%;
                }

                p:nth-of-type(1) {
                    font-size: 23px;
                    font-weight: bold;
                    font-family: $fontSerif;
                    transition: 0.5s;
                }

                p:nth-of-type(2), p:nth-of-type(3) {
                    font-size: 12px;
                }

                p:nth-of-type(4) {
                    font-size: 20px;
                    font-weight: bold;
                    font-family: $fontSerif;
                    color: $violet1;
                }

                &:hover img,
                &:hover div {
                    box-shadow: 1px 5px 10px $gray3;
                }
                

                &:hover {
                    img, div {
                        box-shadow: 1px 5px 10px $gray3;
                    }
                }
            }

            &::after {
                @include setAfter;
            }
        }
    }

    .bookListButton {
        text-align: center;
        font-size: 30px;
        line-height: 31px;
        color: $violet1;
        box-sizing: border-box;
        border: 1px solid $violet1;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        cursor: pointer;
        @include makeRoundedSquare(40px, 50%);

        &:first-of-type {
            left: 5px;
        }

        &:last-of-type {
            right: 5px;
        }
    }
}

#bookListLayer {
    display: none;
    position: fixed;
    width: 1200px;
    height: calc(100% - 75px);
    background-color: dodgerblue;
    z-index: 2;
    top: 75px;
    @include alignHorizonalCenter();
}

#searchListLayer {
    position: fixed;
    display: none;
    width: 1100px;
    padding: 50px;
    background-color: $whitePerfect;
    z-index: 5;
    overflow: hidden;
    transition: 1s;
    transform: translate(0 ,-100%);
    border: 1px solid $gray2;

    &>h1 {
        font-family: $fontSerif;
        font-weight: bold;
        font-size: 50px;
        height: 70px;
        line-height: 70px;
        margin: 0 0 50px;
        float: left;

        span {
            font-family: $fontSerif;
            color: $violet1;
        }
    }

    &>a {
        @include buttonsForBanners();
        float: right;
    }

    .searchBookList {
        overflow: auto;
        height: calc(100% - 220px);
        bottom: 0;
        position: relative;
        clear: both;

        li {
            height: 285px;
            padding: 30px 0;
            border-top: 1px solid $gray2;

            &>a:first-child {
                float: left;
                display: block;

                div {
                    @include noImgInList();
                }

                img {
                    width: 190px;
                    height: calc(190px * 1.5);
                    display: block;
                }
            }

            div {
                float:left;
                width: calc(100% - 360px);
                padding-left: 10px;

                p {
                    &:nth-of-type(1) {
                        font-size: 25px;
                        font-weight: bold;
                        font-family: $fontSerif;    
                    }

                    &:nth-of-type(2),&:nth-of-type(3) {
                        display: inline;
                    }

                    &:nth-of-type(4) {
                        font-size: 20px;
                        font-weight: bold;
                        font-family: $fontSerif; 
                    }

                    &:nth-of-type(5) {
                        margin-top: 30px;
                    }
                }
            }

            .searchButtons {
                float: right;
                height: 100%;
                width: 150px;
                text-align: center;

                a {
                    height: calc(225px / 5);
                    line-height: calc(225px / 5);
                    margin: 10px;
                    display: block;
                    color:$whitePerfect;
                    background-color: $violet1;   
                    
                    &:hover {
                        background-color: $violet2;   
                    }
                }
            }

            &::after {
                @include setAfter();
            }         
        }
    }
}