@charset "utf-8";
//페이지 공통

// 컬러 설정
$violet1: #76323f;
$black1: #333333;
$gray1: #f3f0ef;
$gray2: #cccccc;
$gray3: #666666;
$whitePerfect: #ffffff;


// 폰트 설정
$fontSerif: 'Nanum Myeongjo', serif;
$fontSanSerif: '맑은 고딕', sans-serif;

// mixin 생성
@mixin setAfter {
    content: "";
    display: block;
    clear: both;
}

@mixin makeRoundedSquare($length, $radius: 0) {
    width: $length;
    height: $length;
    border-radius: $radius;
}

@mixin alignHorizonalCenter {
        transform: translateX(-50%);
        left: 50%;
}

@mixin buttonsForBanners {
    background-color: $violet1;
    color: $whitePerfect;
    font-family: $fontSerif;
    font-size: 25px;
    font-weight: bold;
    margin-right: 10px;
    padding: 8px 23px;
    border: 2px solid $violet1;
    box-sizing: border-box;
    transition: 0.5s;

    &:hover {
        background-color: $whitePerfect;
        color: $violet1
    }
}

// 공통
* {
    margin: 0;
    padding: 0;
    font-family: $fontSanSerif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: $black1;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;

    &::after {
        @include setAfter;
    }
}

h1 {
    font-family: $fontSerif;
    margin:75px 0 15px;
    font-size: 40px;
}


// 헤더
header {
    background-color: $whitePerfect;
    height: 100px;
    min-width: 1200px;

    .headerTop {
        height: 25px;
        line-height: 25px;
        border-bottom: 1px solid $gray2;
        font-size: 12px;
        box-sizing: border-box;

        p{
            float: left;
            font-family: $fontSerif;
        }

        a {
            padding: 0 5px;
        }
        a:hover {
            color: $violet1;
        }

        .sns, .headerMember {
            float: right;
            li {
                float: left;
            }
        }

        .headerMember {
            float: right;
            
        }
    }
    
    .headerBottom{
        width: 100%;
        min-width: 1200px;
        height: 75px;
        line-height: 75px;
        background-color: inherit;
        box-sizing: border-box;
        position: relative;
        margin: 0 auto;
        z-index: 2;
        
        .logo {
            display: block;
            width: 200px;
            height: 75px;
            position: absolute;
            left: 0;
        }

        img {
            width: 200px;
            padding: 12.5px 0;
        }

        nav {
            position: absolute;
            right: 0;
            
            .main{
                li {
                    float: left;
                    padding: 0 15px;
                    height: 75px;
                    a {
                        color:$black1;
                        font-family: $fontSerif;
                        font-weight: bold;
                    }
                }

                li:not(:nth-last-of-type(-n+2)) a:hover {
                    color: $violet1;
                   
                }
            }
        }
    }

    p {
        float: right;
        padding: 0 5px;
    }
    
}


// 푸터
footer {
    background-color: $black1;
    color: $whitePerfect;
    height: 400px;
    min-width: 1200px;
    margin-top: 100px;

    .adress {
        width: 30%;
        height: 300px;
        float: left;
        position: relative;

        ul {
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            left: 2%;
            font-size: 30px;
            

            li {
                font-family: $fontSerif;
                margin: 5px 0;
                &:first-child {
                    font-weight: bold;
                    font-size: 45px;
                    
                }
            }
        }
    }

    .footerMenu {
        width: 20%;
        height: 220px;
        padding: 40px 0;
        float: left;
        
        li {
            height: 44px;
            line-height: 44px;
            a {
                color: $whitePerfect;
                font-family: $fontSerif;
                font-size: 20px;
                
                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    .contect {
        width: 30%;
        height: 200px;
        padding: 40px 0;
        float: right;
        
        p {
            padding: 2px 0;
            font-family: $fontSerif;
            
            &:nth-of-type(odd) {
                font-weight: bold;
                font-size: 25px;
            }
            &:nth-of-type(even) {
                font-size: 20px;
            }
        }

        img {
            display: block;
            width: 250px;
            margin: 10px auto 0;
        }
    }

    .footerBottom {
        height: 99px;
        clear: both;
        border-top: 1px solid $gray1;

        .sns {
            float: left;
            margin-left: 5px;

            li {
                float: left;
                margin: 24px 5px 25px;
                background-color: $whitePerfect;
                @include makeRoundedSquare(50px, 20%);
                line-height: 50px;
                text-align: center;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 25px;
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .copyright {
            float: right;
            text-align: right;
            font-family: $fontSerif;
            padding-top: 24px
        }
    }
}

#bookListLayer {
    display: none;
    position: fixed;
    width: 1200px;
    height: calc(100% - 75px);
    background-color: dodgerblue;
    z-index: 1;
    top: 75px;
    @include alignHorizonalCenter();
}

#searchListLayer {

}