@charset "utf-8";
// index.html

// 이미지슬라이드 (스와이퍼)
.swiper {
    min-width: 1200px;
    height: 650px;
    margin: 0 auto;
}

.swiper-slide {
    width: 100%;
    height: 100%;

    &:nth-of-type(1) {
        background: url('../images/globe.jpg');
        background-size: cover;

        h1 {
            color: $whitePerfect;
            position: relative;
            left: calc(50% - 590px);
        }

        .slideImgWrap {
            position: absolute;
            width: 600px;
            height: 300px;
            left: 45%;

            img {
                width: 250px;
                height: 375px;
                display: block;
                position: absolute;
                left: 0%;
                top: 10%;
                box-shadow: 0 0 8px;

                &:nth-of-type(2) {
                    left: 25%;
                    top: 20%;
                }

                &:nth-of-type(3) {
                    left: 50%;
                    top: 30%;
                }
            }
        }

        a {
            display: block;
            position: absolute;
            left: calc(50% - 450px);
            bottom: 25%;
            float: right;
            transform: translateX(-50%);
            @include buttonsForBanners();
        }
    }

    &:nth-of-type(2) {
        background-color: $bannerYellow;
        text-align: center;
        overflow: hidden;

        h1 {
            font-family: $fontSanSerif;
            font-weight: bolder;
            font-size: 45px;
        }

        div>img {
            display: block;
            position: absolute;
            @include alignHorizonalCenter();

            &:first-of-type {
                left: calc(50% - 300px);
                bottom: 0;
                height: 80%
            }

            &:last-of-type {
                left: calc(50% + 200px);
                box-sizing: border-box;
                height: 50%;
                border: 20px ridge #76323f;
                top: 22%
            }
        }

        p {
            position: absolute;
            left: 48%;
            font-family: $fontSerif;
            font-weight: bold;
            font-size: 30px;
            bottom: 18.5%;
            color: $violet1;
        }

        a {
            display: block;
            position: absolute;
            left: 48%;
            bottom: 10%;
            float: right;
            @include buttonsForBanners();
        }
    }

    &:nth-of-type(3) {
        background-color: lightblue;

        h1 {
            position: relative;
            left: calc(50% - 590px);
        }

        div {
            width: 1200px;
            height: 300px;
            position: absolute;
            @include alignHorizonalCenter();

            img {
                position: relative;
                width: 180px;
                height: 270px;
                margin: 10px;
                float: left;
                display: block;
                height: 100%;
            }

            &::after {
                @include setAfter()
            }
        }

        a {
            position: absolute;
            bottom: 10%;
            @include buttonsForBanners();
            @include alignHorizonalCenter();
        }
    }
    
}

// 슬라이드 버튼
.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        background-color: white;
        opacity: 1;


    &.swiper-pagination-bullet-active {
        background-color: red;
    }
} 

// 메인페이지 도서 목록
.mainBookList {
    position: relative;
    height: 450px;

    .bookListWrap {
        width: 1100px;
        height: 100%;
        position: absolute;
        left: 50px;
        overflow: hidden;

        ul {
            margin: 0 auto;
            position: relative;
            height: 100%;
            
            li {
                float: left;
                text-align: center;
                width: 210px;
                height: calc(100% - 20px);
                margin: 5px;
                padding: 5px 0;
                cursor: pointer;

                div {
                    width: 190px;
                    height: calc(190px * 1.5); 
                    color: $whitePerfect;
                    background-color: $violet2;
                    box-shadow: 0px 1px 2px $gray3;
                    margin-bottom: 20px;

                    img {
                        width: 75px;
                        height: 75px;
                        background-color: $whitePerfect;
                        margin: 25px 0;
                    }
                }

                img {
                    width: 190px;
                    height: calc(190px * 1.5);
                    margin-bottom: 20px;
                    box-shadow: 0px 1px 2px $gray3;
                    transition: 0.5s;
                }

                p {
                    width: 90%;
                    margin: 0 5% 2%;
                }

                 p:nth-of-type(1) {
                    font-size: 23px;
                    font-weight: bold;
                    font-family: $fontSerif;
                    transition: 0.5s;
                }

                p:nth-of-type(2), p:nth-of-type(3) {
                    font-size: 12px;
                }

                p:nth-of-type(4) {
                    font-size: 20px;
                    font-weight: bold;
                    font-family: $fontSerif;
                    color: $violet1;
                }

                &:hover img,
                &:hover div {
                    box-shadow: 1px 5px 10px $gray3;
                }
                &:hover p:nth-of-type(1) {
                    color: $violet1;
                }

                &:hover {
                    img, div {
                        box-shadow: 1px 5px 10px $gray3;
                    }
                    p:nth-of-type(1) {
                        color: $violet1;
                    }
                }
            }

            &::after {
                @include setAfter;
            }
        }
    }

    .bookListButton {
        text-align: center;
        font-size: 30px;
        line-height: 31px;
        color: $violet1;
        box-sizing: border-box;
        border: 1px solid $violet1;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        cursor: pointer;
        @include makeRoundedSquare(40px, 50%);

        &:first-of-type {
            left: 5px;
        }

        &:last-of-type {
            right: 5px;
        }
    }
}

// 카테고리
.categories {
    margin-top: 75px;

    li {
        float: left;
        text-align: center;
        
        a {
            color:$black1;
            transition: 0.5s;

            div {
                background-color: $violet1;
                margin: 0 10px 10px;
                box-sizing: border-box;
                border: 5px solid $whitePerfect;
                transition: 0.5s;
                @include makeRoundedSquare(100px, 50%);
                
                img {
                    width: 100%
                }
            }

            &:hover {
                color: $violet1;

                div {
                    box-shadow: 0 2px 10px $black1;
                }
            }
        }
    }

    &::after {
        @include setAfter;
    }
}


// 큰 배너
#wideBanner {
    height: 800px;
    min-width: 1200px;
    background-color: $gray1;
    margin-top: 50px;

    .wideBannerImg {
        float:left;
        width: 510px;

        img {
            opacity: 0;
            height: 750px;
            padding-top: 50px;
            transition: 1s;
            display: block;
        }
    }

    .wideBannerTexts {
        float: right;
        width: calc(100% - 510px);

        div {
            width: 630px;
            margin-left: 60px;
            float: right;

            img {
                width: 135px;
                margin-right: 30px;
                margin-bottom: 30px;
                background-color: blue;
                float: left;
                box-shadow: 0 0 8px;
                display: block;

                &:nth-of-type(4n) {
                    margin-right: 0;
                }
            }

            &::after {
                @include setAfter()
            }
        }

        a {
            float: right;
            @include buttonsForBanners();
        }
    }
}

// 이벤트
#event {
    margin: 100px 0;
    width: 100%;
    min-width: 1200px;
    background-color: $gray1;

    li {
            width: 24%;
            height: 400px;
            float: left;
            margin: 0 0.5% 25px;

            div {
                height: 50%;
                &:first-child {
                    overflow: hidden;
                    img {
                        width: 105%;
                        display: block;
                        position: relative;
                        @include alignHorizonalCenter();
                    }
                }

                &:last-child {
                    background-color: $whitePerfect;
                    box-sizing: border-box;
                    padding: 20px;

                    p:first-child {
                        font-family: $fontSerif;
                        font-size: 20px;
                        font-weight: bold;
                        transition: 0.5s;
                    }
                }
            }

            &:hover {
                box-shadow: 1px 5px 10px $gray3;

                p:first-child {
                    color: $violet1;
                }
            }
        }
}

// 블로그
#blog {
    width: 100%;
    min-width: 1200px;

    li {
        width: 49%;
        height: 120px;
        float: left;
        margin: 0 0.5% 25px;
        
        div {
            width: 120px;
            height: 100%;
            overflow: hidden;
            position: relative;
            float: left;
            transition: 0.5s;

            img {
                position: absolute;
                display: block;
                height: 100%;
                @include alignHorizonalCenter();
            }
        }

        p {
            float: right;
            width: calc(100% - 135px);
            padding-left: 15px;
            color: $black1;
            transition: 1s;

            &:first-of-type {
                height: 25px;
                line-height: 25px;
                font-size: 15px;
            }

            &:last-of-type {
                height: 70px;
                font-size: 20px;
                font-family: $fontSerif;
                font-weight: bold;
            }
        }

        &:hover {

            div {
                box-shadow: 1px 5px 10px $gray3;
            }

            p:last-of-type {
                color: $violet1
            }
        }
    }
}
